<h1 class="text-3xl">About</h1>
<hr class="my-2">
<section>
    <p class="mb-4">
        Lorem ipsum odor amet, consectetuer adipiscing elit. Curae taciti mollis velit penatibus; himenaeos ut dictum. Felis consequat porta, pulvinar nunc mauris massa diam. Hendrerit eleifend ante luctus quis adipiscing curae diam. Nostra sollicitudin sollicitudin nunc massa tincidunt sollicitudin pretium convallis. Conubia scelerisque nascetur fermentum potenti venenatis nec fermentum tempus. Hac netus imperdiet cras congue porta et viverra; bibendum class. Ultricies nascetur mollis ligula gravida nostra.
    </p>
</section>