<h1 class="text-3xl">Pricing</h1>
<hr class="my-2">
<section>
    <p class="mb-4">
        Eiusmod tempor ea incididunt nisi laboris deserunt amet enim proident aute eu deserunt qui. Mollit reprehenderit do in veniam proident aliquip adipisicing in ut. Minim sit ad ut est officia incididunt commodo laborum velit elit elit. Irure non ipsum qui nostrud est officia et do consequat labore exercitation. Ipsum incididunt laboris duis nisi officia. Esse amet aliquip anim adipisicing fugiat fugiat anim adipisicing reprehenderit. Consequat aliqua adipisicing eiusmod et est dolore excepteur.
    </p>
</section>